<% unless @phone.errors.any? %>
  $('#phones').append( '<%= escape_javascript(render @phone) %>' );
  $('#form-placeholder').html('');
<% else %>
  var $form = $('#new_phone'), $errorDiv = $('<div id="error_explanation">'), $errorList = $('<ul>');

  <% @phone.errors.full_messages.each do |msg| %>
    $errorList.append('<li><%= escape_javascript msg %></li>');
  <% end %>

  $form.find('#error_explanation').remove();
  $form.prepend($errorDiv.append($errorList));
<% end %>
