<%= form_for(@phone, url: { action: :destroy }, html: { method: :delete }) do |f| %>
  <p>Are you sure you want to delete the phone number <%= @phone.number %> (<%= @phone.name %>)?</p>

<hr />
<%= link_to 'No', :back %> |
<button type="submit">Yes &raquo;</button>

<br />
<hr />
<% end %>
