<h1>Listing phones</h1>

<table id='phones'>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th></th>
    <th></th>
  </tr>

<%= render @phones %>

</table>

<hr />
<%= link_to 'Create new', new_phone_path, id: 'create-button', remote: true %> |
<%= link_to 'Export as CSV', export_phones_path %> |
<%= link_to 'Import from CSV', import_phones_path %>

<br />
<hr />

<div id='form-placeholder'>
</div>
